/*background*/

.bg-1 {
    background-color: #636363;
    height:100vh;
}

.bg-2 {
    background-image: url(images/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-3 {
    background-image: url(images/bg-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
}
/*Navbar*/
#button {
    background-color: transparent;
    border-color:transparent;
}

.navbar {
    position: absolute; 
}

.navbar-nav {
    flex-direction: row;
    position: absolute;
    top: -1rem;
    right: 5rem;
    width: max-content;
}

.navbar-nav .nav-link {
    margin: 1rem;
}
.nn{
    z-index: 10000;
}

/* header*/

.header h1,.header h2 {
    color: white;
}

#arrow .pt-5 {
    padding-top: 7rem!important;
}

#title .pt-5 {
    padding-top: 15rem!important;
}

#title h1 {
    font-family: sans-serif;
    font-size: 0.9rem;
}

#title h2 {
    font-family:'Playfair Display', serif;
    font-size: 4rem;
}

#title em {
    font-style: italic;
}

/*About Our Agency*/

#about-our-agency h2 {
    font-family:'Playfair Display', serif;
    font-size: 2.2rem;
    font-weight: bold;
}

#about-our-agency p {
    font-family: sans-serif;
    color: #636363;
    font-size: 1rem;
}

/*number*/

#number p {
    font-family: sans-serif;
    color: white;
    font-size: 0.9rem;

}

#number .pt-5 {
    padding-top: 6rem!important;
}

#number .pb-5  {
    padding-bottom: 6rem!important;
}
/*Best Projects*/
#best-projects .p-5{
    padding:4.2rem!important;
}

#best-projects h2{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2.3rem;
}

#best-projects p{
    font-family: sans-serif;
    color: #636363;
    font-size: 0.9rem;
}

#best-projects h5{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.5rem;
}

#best-projects span{
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}
/*Carousel*/

#carouselExampleSlidesOnly p {
    color:white;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

#carouselExampleSlidesOnly span {
    color:white;
    font-family: sans-serif;
    font-size: 0.9rem;
}

#carouselExampleSlidesOnly .carousel-indicators li {
    border: 1px;
    width: 5px;
    height: 5px;
    border-radius: 50%;

}

#carouselExampleSlidesOnly .carousel-indicators .active {
    width: 10px;
    height: 10px;

}

#carouselExampleSlidesOnly .pt-5 {
    padding-top: 7rem!important;
}