.bg-primary{
    background-color: #f6f6f6!important;
}

.bg-dark {
    background-color: #0c0c0c!important;
}

.text-primary {
    color: #909090!important;
}

h5{
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: 38px;
    font-weight: bold;
}

h4{
    font-family: 'PlayfairDisplay' sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.WorkSans{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.date{
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.carousel-indicators{
    margin-bottom: -3rem;
}

.vignette{
    width: 90px;
    height: 30px;
    padding-top: 2px;
}